body {
  /* background-color: #c5e6f2; */
  background-color: rgb(214, 214, 251);
}

.login-label-btn {
  width: 100%;
  background-color: rgb(247, 195, 100);
  color: white;
  padding: 14px 20px;
  margin: 25px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.login-label-btn :hover {
  background-color: #5064da;
}

.register-btn {
  margin-top: 3%;
}

.register-link {
  margin-top: 1%;
}

.login-label-input {
  width: 100%;
  padding: 12px 20px;
  margin: 0%;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

*:focus {
  outline: none !important;
}

.login-form {
  margin-top: 5%;
  margin-bottom: 0;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: inherit;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
}

.login-title {
  text-align: center;
  margin-top: 5%;
}

.subtitle {
  margin-top: 2%;
  background-color: transparent;
}

.osu {
  color: rgb(209, 142, 18);
}
