.player-list-form {
  margin-top: 5%;
  margin-bottom: 0;
  margin-left: 20%;
  margin-right: 30%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: inherit;
}

.player-form-back-clear {
  margin-top: 2%;
  display: flex;
}

.player-form-add-btn {
  margin-top: 2%;
}

.player-list-link {
  margin-top: 2%;
}

.clear-btn {
  margin-left: 87%;
}

.player-table {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.table-print {
  margin-left: 95%;
}

.player-list-btn {
  display: flex;
  margin-left: 40%;
}

.player-list-back {
  margin-right: 10px;
}
.player-list-schedule {
  margin-right: 10px;
}
.player-home-page {
  margin-right: 10px;
}

.tree-playercards {
  display: flex;
}

.playercards {
  margin-left: auto;
}

.playercards-list {
  /* border: 1px solid; */
  border: dashed rgb(242, 194, 194);
  background: rgb(190, 190, 245);
  list-style-type: none;
  margin-top: 10px;
  margin-right: 30px;
  text-align: center;
}

.playercards-list:nth-child(odd) {
  background: rgb(173, 244, 181);
}

.playercards-ul {
  width: 300px;
  padding-right: 20%;
}
