.player-list-form {
  margin-top: 5%;
  margin-bottom: 0;
  margin-left: 20%;
  margin-right: 30%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: inherit;
}

.player-form-back-clear {
  margin-top: 2%;
  display: flex;
}

.player-form-add-btn {
  margin-top: 2%;
}

.player-list-link {
  margin-top: 2%;
}

.clear-btn {
  margin-left: 87%;
}

.player-table {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.tree-print {
  margin-left: 80%;
  margin-top: 1%;
  display: flex;
}

.tree-dropdown {
  margin-left: 5%;
}

.tree-back,
.tree-home {
  margin-right: 2%;
}

.player-list-btn {
  display: flex;
  margin-left: 40%;
}

.player-list-back,
.player-list-schedule,
.player-home-page {
  margin-right: 10px;
}

.tree-playercards,
.tree-page-header {
  display: flex;
}

.playercards {
  margin-left: auto;
}

.playercards-list {
  /* border: 1px solid; */
  border: dashed rgb(76, 56, 56);
  background: rgb(160, 217, 255);
  list-style-type: none;
  margin-top: 10px;
  margin-right: 30px;
  text-align: center;
}

.playercards-list:nth-child(odd) {
  background: rgb(219, 234, 244);
}

.playercards-ul {
  width: 300px;
  padding-right: 20%;
}

.doughbut-chart {
  margin-top: 1%;
  margin-right: 20%;
  margin-left: 20%;
  width: 60%;
}
